<%- include('./includes/head.ejs', {pageTitle : 'An error occured' }) %>

</head>

<body>
  <%- include('./includes/header.ejs') %>
  <main>
    <h1>401: Not authenticated!</h1>
    <p>❌❌ You are not authenticated ❌❌</p>
    <p><a href="/" class="btn">Back to saftey!</a></p>
  </main>
</body>

</html>

<!--
will be used by deafault error-handler.js 
-->