<%- include('./includes/head.ejs', {pageTitle : 'An error occured' }) %>

</head>

<body>
  <%- include('./includes/header.ejs') %>
  <main>
    <h1>404 😓 error</h1>
    <p>Requested resource does not exsist. Please check your request.</p>
    <p><a href="/" class="btn">Back to saftey!</a></p>
  </main>
</body>

</html>

<!--
will be used by deafault error-handler.js 
-->