<%- include('./includes/head.ejs', {pageTitle : 'An error occured' }) %>

</head>

<body>
  <%- include('./includes/header.ejs') %>
  <main>
    <h1>Something went wrong on server</h1>
    <p>Unfortunately somehing went wrong on our side. Please try again later.</p>
    <p><a href="/" class="btn">Back to saftey!</a></p>
  </main>
</body>

</html>

<!--
will be used by deafault error-handler.js 
-->