<%- include('../../shared/includes/head', {pageTitle : 'Success!' }) %>
</head>

<body>
  <%- include('../../shared/includes/header.ejs') %>
  <main>
    <h1>Order successfully placed! </h1>
    <p>please contact the shop owner in this regard</p>
    <p>visit <a href="/orders">the orders page</a> for more details. </p>
  </main>
  <%- include('../../shared/includes/footer.ejs') %>